.header-sections {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
}
.header-sections-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  background-color: white;
  padding: 2px;
  border-radius: 14px;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
.uniswap-logo {
  /* background-color: white;
  mask: url("../../assets/logo.svg") no-repeat center; */
  width: 2rem;
  height: auto;
}
.active {
  background-color: rgb(247, 248, 250) !important;
  color: black !important;
  font-weight: 600 !important;
}
.netowrk-div {
  display: flex;
  gap: 0.4rem;
}
.netowrk-div span {
  font-size: 1rem;
}
.network-logo {
  width: 1.4rem;
  height: auto;
}
