@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif !important;
}
body{
  /* background-image: linear-gradient(pink,white); */
  background: linear-gradient(pink,white);
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-attachment:fixed;
  font-family: 'Inter custom',sans-serif;
}